html,
body {
	height: auto;
}

#root {
	min-height: 100%;
}

body {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: color;
}

@keyframes scan {
	0% {
		transform: translateY(-60%);
	}
	100% {
		transform: translateY(60%);
	}
}
